body {
	margin:0;
}

header {
	height: 70px;
	background-image: url("orange-belt-1.jpg");
}

#iCodeLogo {
	padding-top: 5px;
	padding-left: 5%;
	height: 70px;
	float: left;
}

#obLogo {
	display: block;
	height: 300px;
	margin: auto;
}

nav {
	position: block;
	text-align: center;
	width: 70%;
	height: 100%;
}

.nav-a {
	position: relative;
	top:30%;
	margin-right: 2.5em;
	text-decoration: none;
	color: #696969;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.nav-a:hover{
	color: black;
}

#homeIcon {
	position: relative;
	margin-right: 0.5em;
	top: 35%;
	height: 30px;
	margin-left: 2.5em;
}

#body-wrapper {
	padding-top: 3em;
	padding-left: 12em;
	padding-right: 12em;
	min-height: 100%;
}

#main {
	overflow: auto;
}

#kidpic {
	display: block;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}

aside {
	float: right;
	width: 25%;
	height: 50em;
	text-align: center;
	background-image: url("orange-belt-1.jpg");
	color: white;
	font-family: 'Roboto', sans-serif;
	box-shadow: -10px 10px 10px grey;
}

.sprint {
	text-decoration: underline;
	text-align: center;
	padding-right: 50%;
}

.day {
	text-align: center;
	list-style-position: inside;
	padding-right: 50%;
	margin-top: 0.5em;
}

section {
	float: left;
	width: 60%;
	font-family: 'Roboto', sans-serif;
}

#ob-motto {
	text-align: center;
	font-weight: bold;
	color: rgba(255,125,66,0.75);
}

article {
	padding-top: 3em;
	float: left;
	width: 60%;
	font-family: 'Roboto', sans-serif;
}

#section-h2 {
	text-align: center;
	font-weight: bold;
	color: #b27300;
}

footer {
	position: relative;
	margin-top: 60px;
	width: 100%;
	height: 60px;
	background-color: #404040;
	clear: both;
	text-align: right;
}

.footer-p {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	margin-bottom: auto;
	margin-top: auto;
	padding: 5px;
	text-align: left;
}

#footer-email {
	text-decoration: none;
}